.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;
}

.parent_input{
    width: 60%;
    height: 45px;
}

.parent_btn{
    margin: 30px;
}

.btn1{
    width: 150px;
    margin: 20px;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.modal_btn_wrapper{
    display: flex;
    justify-content: center;

}