
.list_item {
    width: 100%;
}

.task_item {
    border: 1px solid black;
}

.btn1{
    width: 150px;
    margin: 20px;
}

.modal_btn_wrapper{
    display: flex;
    justify-content: center;

}

.editModalInput{
    width: 100%;
}